{% extends 'base.html' %}

{% block title %}View{% endblock %}
{% block menu %}
    <li><a href="{% url 'article_create' project.pk %}">Add Task</a></li>
{% endblock %}
{% block content %}
     <h1>Project:</h1>
    <h2>{{ project.name }}</h2>
     <p>{{ project.text }}</p>
    <p>New date:{{ project.newdate_at }}</p>
    <p>End date at: {{ project.enddate_at }}</p>
        <h3>Task:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% if project.project_id.all %}
             {% for article in project.project_id.all %}
                 <h4><a href="{% url 'article_view' article.pk %}">{{ article.description }}</a></h4>
             {% endfor %}
        {% else %}
            <p>Нет задач</p>
        {% endif %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}

{% endblock %}