{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'index_project' %}">Projects</a></li>
    {% if perms.webapp.change_project and request.user in project.users.all %}
        <li><a href="{% url 'project_create' %}">Add Project</a></li>
    {% endif %}
    {% if perms.webapp.change_project and request.user in project.users.all %}
        <li><a href="{% url 'project_update' project.pk %}">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_project and request.user in project.users.all %}
        <li><a href="{% url 'project_delete' project.pk %}">Delete</a></li>
    {% endif %}
    {% if perms.webapp.add_project and request.user in project.users.all %}
        <li><a href="{% url 'article_create' project.pk %}">Add Task</a></li>
    {% endif %}
{% endblock %}

{#{% if request.user.is_authenticated %}#}
{#                     <li><a href="{% url 'article_create' project.pk %}">Task Add</a></li>#}
{#                    {% block menu %}{% endblock %}#}
{#                    <li><a href="{% url 'logout' %}">Logout</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'login' %}">Login</a></li>#}
{#                {% endif %}#}
{% block content %}
     <h1>Project:</h1>
    <h2>{{ project.name }}</h2>
     <p>{{ project.text }}</p>
    <p>New date:{{ project.newdate_at }}</p>
    <p>End date at: {{ project.enddate_at }}</p>
    <hr>
        <h3>Task:</h3>
         {% if perms.webapp.add_article and request.user in project.users.all%}
            <p><a href="{% url 'article_create' project.pk %}">Task Add</a></p>
        {% endif %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% if project.project_id.all %}
             {% for article in project.project_id.all %}
                 <h4><a href="{% url 'article_view' article.pk %}">{{ article.description }}</a></h4>
                 {% if perms.webapp.change_article and request.user in project.users.all%}
                    <p><a href="{% url 'article_update' article.pk %}">Update</a></p>
                {% endif %}
                {% if perms.webapp.delete_article and request.user in project.users.all %}
                    <p><a href="{% url 'article_delete' article.pk %}">Delete</a></p>
                {% endif %}
             {% endfor %}
        {% else %}
            <p>Нет задач</p>
        {% endif %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}

{% endblock %}